*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    overflow-x: hidden;
  }
  

body{
    background-color:#141428;
    margin: none;
    padding: 0px;
}

img{
    width: 300px;
    border-radius: 0px 20px 20px 0px;
}

.img-left{
    border-radius: 0px 20px 20px 0px;
}

.img-rigth{
    border-radius: 20px 0px 0px 20px;
}

.ted-bio{
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.589);
    margin: 15px;
}

p{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

h1, h2, h3{
    color: white;
    padding-bottom: 10px;
    
}

header p {
    text-align: left;
    margin: 15px 0px;
}

.button-header{
    background-color: #c82850;
    border: none;
    padding: 15px 25px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
}

ul{
    color: white;
    padding-inline-start: 0;
}

hr{
    background-color: #c82850;
    width: 350px;
    height: 5px;
    margin-top: 30px;
    border-radius: 50px;
    border: none;
}

.img-div{
    display: flex;
    justify-content: center;
}

.demo{
    width: 380px;
    border-radius: 25px;
    margin-bottom: 40px;
}

.text-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

nav{
    background-color: #141428;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px 10px;
}

.nav-itens{
    display: flex;
    gap: 30px;
}

.nav-itens a{
    font-size: .9rem;
}

nav img{
    width: 80px;
}

.button-nav{
    background-color: #c82850;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
}

header{
    background-color: #141428;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 15%;
    padding: 30px;
}

.container-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    background: linear-gradient(to bottom, #3c0028, #141428);
}

.container-left div{
    width: 400px;

}


.container-rigth{
    background-color: #141428;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    
    background: linear-gradient(to bottom,#141428, #3c0028);
}

.container-rigth div {
    width: 300px;
    padding: 20px;
}

.container-left div {
    width: 300px;
    padding: 20px;
}

.prova-social{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #3c0028;
}

.container-review{
    background: linear-gradient(to bottom, #3c0028, #141428);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    margin-bottom: 20px;

}

.review{
    border-radius: 30px;

    flex-wrap: wrap;

    padding: 40px;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.review p {
    font-size: 1rem;
}

.review-div{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
}

.bullet-points{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #141428;
}

.icon-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    background: linear-gradient(to bottom,#141428, #3c0028);
    text-align: center;
}

.icon-img{
    width: 400px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;

    border-radius: 30px;
    border: 4px solid #c82850;

    background-color: rgba(255, 228, 196, 0);
}

.icon{
    width: 200px;
    padding-bottom: 15px;
}

.contact-container{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
    background-color: #3c0028;
}

label {
    width: 300px;
    display: flex;
    text-align: left;
    color: white;
    padding: 8px 0px; 
}

::placeholder{
    color: #c82850ba;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, textarea {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

form{
    margin: 20px;
    padding: 0px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;

    background-color: #3c002800;
}

.btn-form{
    background-color: #c82850;
    border: none;
    padding: 15px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
}

@media (max-width: 800px)
{
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h2{
        text-align: center;
    }

    .container-rigth{
        flex-direction: column;
    }

    .container-left{
        flex-direction: column; 
    }

    .demo{
        width: 280px;
    }

    .review-div{
        width: 290px;
        display: flex;
        flex-wrap: wrap;
    }



    
}
